.reserve-hero-section {
  background-image: url("/src/assets/reserve-section-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  position: relative;
  isolation: isolate;
}

.reserve-hero-section::after {
  content: "";
  position: absolute;
  background: #000;
  inset: 0;
  z-index: -1;
  opacity: 0.6;
}

.reserve-hero-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.reserve-hero-title {
  font-size: 60px;
  font-family: "Bree Serif";
  text-transform: capitalize;
  color: hsl(0, 0%, 100%);
  max-width: 600px;
  width: 100%;
}

.reserve-hero-text {
  color: hsl(0, 0%, 100%);
  max-width: 600px;
  width: 100%;
  line-height: 1.7;
}

.reserve-hero-text span {
  text-transform: capitalize;
}

.label-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.label-holder p {
  font-size: 10px;
  color: red;
}

/* RESERVE PAGE - CONTACT SECTION */
.reserve-form-text-holder {
  min-height: 650px;
  height: 100%;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.date-time-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

#date-input {
  padding-right: 20px;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

#time-input {
  padding-right: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* RESERVE PAGE - FAQ SECTION */
.faq-section-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.faq-section-text-holder {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.faq-section-title {
  font-family: "Bree Serif";
  font-size: 50px;
  text-transform: uppercase;
  color: hsl(0, 0%, 0%);
}

.faq-section-title span {
  text-transform: lowercase;
}

.faq-section-text {
  line-height: 1.7;
  color: hsl(0, 0%, 0%);
}

.faq-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  max-width: 1170px;
  margin: 0px auto;
  width: 100%;
}

.faq-text-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 100%;
  border-bottom: 1px solid hsl(0, 0%, 80%);
  padding: 10px 0px;
}

.faq-question-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.faq-question {
  font-family: "Bree Serif";
  font-size: 18px;
}

.faq-answer {
  max-height: 0;
  opacity: 0;
  transform: translateY(-5px);
  overflow: hidden;
  transition: max-height 0.5s ease, opacity 0.5s ease, transform 0.5s ease;
  max-width: 600px;
  width: 100%;
  line-height: 1.7;
}

.faq-answer.open {
  max-height: 100px;
  opacity: 1;
  transform: translateY(0);
}

.faq-icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

@media screen and (max-width: 1000px) {
  .reserve-hero-title {
    font-size: 55px;
  }

  .reserve-hero-text {
    font-size: 15px;
  }

  .faq-section-title {
    font-size: 45px;
  }

  .faq-section-text {
    font-size: 15px;
  }

  .faq-answer {
    font-size: 15px;
  }
}

@media screen and (max-width: 800px) {
  .reserve-form-text-holder {
    min-height: 350px;
  }
}

@media screen and (max-width: 520px) {
  .reserve-hero-title {
    font-size: 45px;
  }

  .faq-question {
    font-size: 17px;
  }
}
