/* HERO SECTION */
.hero-section {
  width: 100%;
  min-height: calc(100vh - 80px); /* 80px = visina navigacije */
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/src/assets/hero-image.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  isolation: isolate;
}

.hero-section::after {
  content: "";
  position: absolute;
  background: #000;
  inset: 0;
  z-index: -1;
  opacity: 0.6;
}

.hero-section-holder {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 20px;
}

.hero-title {
  font-family: "Bree Serif";
  text-transform: capitalize;
  font-size: 60px;
  color: hsl(0, 0%, 100%);
}

.hero-text {
  line-height: 1.7;
  color: hsl(0, 0%, 100%);
}

.hero-text span {
  text-transform: capitalize;
}

.hero-btn-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  max-width: 220px;
  width: 100%;
}

.hero-link {
  max-width: 100px;
  width: 100%;
}

.hero-btn {
  max-width: 100px;
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-radius: 20px;
  font-family: inherit;
  background-color: hsl(0, 0%, 20%);
  color: hsl(0, 0%, 100%);
  font-weight: 500;
  opacity: 0.85;
  transition: all 0.3s;
}

.hero-btn:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

.hero-menu-btn {
  background-color: hsl(0, 0%, 100%) !important;
  color: hsl(0, 0%, 0%) !important;
  opacity: 1 !important;
}

/* ABOUT SECTION */
.section-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  padding: 90px 0px;
}

.about-section {
  background-color: hsl(207, 66%, 22%);
}

.about-section-holder {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-section-text-holder {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.about-section-title {
  font-family: "Bree Serif";
  font-size: 50px;
  text-transform: capitalize;
  color: hsl(0, 0%, 100%);
}

.about-section-title span {
  text-transform: lowercase;
}

.about-section-text {
  line-height: 1.7;
  color: hsl(0, 0%, 100%);
}

.about-section-text span {
  text-transform: capitalize;
}

.about-section-img {
  max-width: 550px;
  width: 100%;
  border-radius: 30px;
  min-height: 500px;
  object-fit: cover;
  height: 100%;
}

.about-btn-holder {
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 15px;
  max-width: 200px;
  width: 100%;
}

.about-link {
  text-decoration: none;
}

.about-btn {
  padding: 10px 0px;
  border: none;
  border-radius: 20px;
  width: 100%;
  font-family: inherit;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
  background-color: hsl(207, 65%, 37%);
  transition: all 0.3s;
}

.about-btn:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

.about-contact-btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  background: transparent;
}

.about-contact-btn:hover .about-btn-icon {
  transform: translateX(5px) !important;
  transition: all 0.3s;
  cursor: pointer;
}

/* FEATURES SECTION */
.features-section {
  background-color: hsl(0, 0%, 100%);
}

.features-section-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
}

.features-section-text-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  max-width: 750px;
  width: 100%;
}

.features-section-text-holder h4 {
  text-transform: capitalize;
  color: hsl(0, 0%, 0%);
}

.feauters-section-title {
  font-size: 50px;
  font-family: "Bree Serif";
  text-transform: capitalize;
  color: hsl(0, 0%, 0%);
}

.feauters-section-title span {
  text-transform: lowercase;
}

.features-section-text {
  max-width: 700px;
  width: 100%;
  line-height: 1.7;
  color: hsl(0, 0%, 0%);
}

.features-section-text span {
  text-transform: capitalize;
}

.feauters-section-card-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.features-card {
  max-width: 380px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.features-img {
  width: 100%;
  border-radius: 20px;
  aspect-ratio: 3/2;
  object-fit: cover;
}

.features-card-text {
  font-family: "Bree Serif";
  font-size: 28px;
  color: hsl(0, 0%, 0%);
}

.features-link {
  max-width: 100px;
  width: 100%;
  text-decoration: none;
}

.features-btn {
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-radius: 20px;
  font-family: inherit;
  font-weight: 500;
  transition: all 0.3s;
  background-color: #ccc;
  color: hsl(0, 0%, 0%);
}

.features-btn:hover {
  cursor: pointer;
  transform: translateY(-4px);
}

/* RESERVE SECTION */

.reserve-section {
  background-image: url("/src/assets/reserve-section-img.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  isolation: isolate;
}

.reserve-section::after {
  content: "";
  position: absolute;
  background: #000;
  inset: 0;
  z-index: -1;
  opacity: 0.6;
}

.reserve-section-text-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.reserve-section-title {
  font-family: "Bree Serif";
  color: hsl(0, 0%, 100%);
  font-size: 50px;
  text-transform: capitalize;
}

.reserve-section-text {
  color: hsl(0, 0%, 100%);
  max-width: 650px;
  width: 100%;
  line-height: 1.7;
}

.reserve-link {
  max-width: 100px;
  width: 100%;
}

.reserve-btn {
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-radius: 20px;
  color: hsl(0, 0%, 0%);
  font-weight: 500;
  font-family: inherit;
  transition: all 0.3s;
}

.reserve-btn:hover {
  transform: translateY(-4px);
  cursor: pointer;
}

/* CONTACT SECTION */

.contact-section-holder {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
}

.contact-section-card {
  max-width: 380px;
  width: 100%;
  box-shadow: 0px 0px 3px hsl(0, 0%, 60%);
  border-radius: 20px;
  padding: 20px 0px;
}

.contact-section-card-width {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  width: 90%;
  margin: 0px auto;
}

.contact-section-card-icon-holder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.contact-section-icon {
  width: 50px;
  height: 50px;
}

.contact-section-card-title {
  font-family: "Bree Serif";
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .hero-section-holder {
    width: 95%;
  }

  .section-holder {
    width: 95%;
  }

  .about-section-img {
    max-width: 450px;
    min-height: 400px;
  }
}

@media screen and (max-width: 1000px) {
  .hero-title {
    font-size: 55px;
  }

  .hero-text {
    font-size: 15px;
  }

  .hero-section-holder h4 {
    font-size: 15px;
  }

  .about-section-text-holder h4 {
    font-size: 15px;
  }

  .about-section-text-holder {
    max-width: 450px;
  }

  .about-section-title {
    font-size: 45px;
  }

  .about-section-text {
    font-size: 15px;
  }

  .about-section-img {
    max-width: 400px;
    min-height: 400px;
  }

  .features-section-text-holder {
    max-width: 660px;
  }

  .feauters-section-title {
    font-size: 45px;
  }

  .features-section-text {
    font-size: 15px;
  }

  .features-card-text {
    font-size: 24px;
  }

  .reserve-section-title {
    font-size: 45px;
  }

  .reserve-section-text {
    font-size: 15px;
  }

  .contact-section-icon {
    width: 40px;
    height: 40px;
  }

  .contact-section-card-title {
    font-size: 18px;
  }

  .contact-section-card-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 900px) {
  .about-section-text-holder {
    max-width: 400px;
  }

  .about-section-img {
    max-width: 350px;
    min-height: 350px;
  }

  .contact-section-icon {
    width: 35px;
    height: 35px;
  }

  .contact-section-card-title {
    font-size: 16px;
  }

  .contact-section-card-text {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .section-holder {
    padding: 45px 0px;
  }

  .about-section-holder {
    flex-direction: column;
    gap: 40px;
  }

  .about-section-text-holder {
    max-width: 800px;
  }

  .about-section-img {
    max-width: 800px;
  }

  .feauters-section-card-holder {
    flex-direction: column;
    gap: 40px;
  }

  .features-card {
    max-width: 800px;
    width: 100%;
  }

  .contact-section-holder {
    flex-direction: column;
  }

  .contact-section-card {
    max-width: 800px;
    padding: 30px 0px;
  }

  .contact-section-icon {
    width: 40px;
    height: 40px;
  }

  .contact-section-card-title {
    font-size: 20px;
  }

  .contact-section-card-text {
    font-size: 15px;
  }
}

@media screen and (max-width: 520px) {
  .hero-title {
    font-size: 40px;
  }

  .about-section-title {
    font-size: 35px;
  }

  .feauters-section-title {
    font-size: 35px;
  }

  .reserve-section-title {
    font-size: 35px;
  }
}
