header {
  background-color: hsl(207, 66%, 22%);
  position: relative; /* 🚀 da bi dropdown znao gdje je dno headera */
  z-index: 1000;
  position: sticky;
  top: 0;
}

header.scrolled {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.header-holder {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 44px;
}

.nav-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.nav-item {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-size: 18px;
  transition: all 0.3s;
}

.nav-item:hover {
  transform: translateY(-4px);
}

.nav-btn-link {
  width: 100%;
}

.nav-btn {
  font-family: inherit;
  max-width: 100px;
  width: 100%;
  padding: 10px 0px;
  border: none;
  border-radius: 20px;
  color: hsl(0, 0%, 0%);
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s;
}

.nav-btn:hover {
  transform: translateY(-4px);
}

.btn-nav-holder {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 80px;
  width: 100%;
}

/* MOBILE NAVIGATION */

html.menu-open,
body.menu-open {
  overflow: hidden;
  height: 100vh;
}

.mobile-nav {
  display: flex;
  display: none;
}

.ham-menu {
  height: 35px;
  width: 35px;
  margin-left: auto;
  position: relative;
  cursor: pointer;
}

.ham-menu span {
  height: 4px;
  width: 100%;
  background-color: #f2f2f2;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  transition: 0.3s ease;
  z-index: 1000;
}

.ham-menu span:nth-child(1) {
  top: 25%;
}

.ham-menu span:nth-child(3) {
  top: 75%;
}

.ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: rotate(45deg);
}

.ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: rotate(-45deg);
}

.off-screen-menu {
  display: none;
}

.off-screen-list {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  margin-top: 50px;
}

.mobile-nav-item {
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav-social-media-holder {
  width: 95%;
  justify-content: flex-start !important;
  align-items: center;
}

.hr-line {
  height: 1px;
  background-color: hsl(0, 0%, 100%);
  width: 95%;
  margin: 0px auto;
  border-radius: 12px;
  border: none;
}

.nav-social-media-holder p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(0, 0%, 100%);
  gap: 12px;
}

.nav-icon {
  color: hsl(0, 0%, 100%);
  width: 30px !important;
  height: 30px !important;
}

.off-screen-logo {
  max-width: 44px;
  width: 100%;
}

.nav-info-holder {
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
  text-align: center;
  color: hsl(0, 0%, 100%);
  font-size: 20px;
}

@media screen and (max-width: 1200px) {
  .header-holder {
    width: 95%;
  }
}

@media screen and (max-width: 800px) {
  .nav-holder {
    display: none;
  }

  .btn-nav-holder {
    max-width: 150px;
  }

  .mobile-nav {
    display: block;
  }

  .off-screen-menu {
    background-color: hsl(207, 66%, 22%);
    width: 100%;
    position: absolute; /* 🚀 sada ide ispod headera */
    top: 100%; /* odmah ispod headera */
    left: 0;
    height: 0; /* zatvoren */
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 35px;
    transition: height 0.4s ease;
    z-index: 500; /* manji od headera */
    border-radius: 0px 0px 12px 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }

  .off-screen-menu.active {
    height: 100vh; /* ili koliko želiš da se otvori */
  }
}

@media screen and (max-width: 520px) {
  .mobile-nav-item {
    font-size: 24px;
  }

  .nav-icon {
    width: 25px !important;
    height: 25px !important;
  }

  .nav-info-holder {
    font-size: 16px;
  }
}
